@use "mixins" as mix;
@use "variables" as var;

.nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var.$bg-color-darkest;
    @include mix.screenSm(){
        position: static;
    }

    .navigation-section{
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
        z-index: 2;
        font-weight: 100;
        
        .header{
            width: 50%;
            position: absolute;
            bottom: 100%;
            right: 0;
            flex-direction: column;
            align-items: center;
            padding-top: 13vw;
            background-color: black;

            &__link{
                color: var.$font-color-light;
                text-decoration: none;
                font-size: .875rem;
                margin-bottom: 50px;

                &:last-child{
                    margin-bottom: 20vw;
                }
            }

            &__shop{
                background-color: transparent;
                border: none;
                color: var.$font-color-light;
                padding: 0;
                font-size: .875rem;
                margin-bottom: 50px;
                font-weight: 100;
            }
        }

        .searchbar{
            &__input{
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 100%;
                background-color: var.$bg-color-lighter-gray;
                border: none;
                padding: 12px 0 12px 17px;
                font-size: 1rem;
                box-sizing: border-box;

                &::placeholder{
                    color: var.$font-color-dark;
                }

                &:focus {
                    outline: none;
                }

            }

            &__btn{
                background-color: transparent;
                border: none;
                padding: 0;
                font-size: 1.5rem;
            }
        }

        &__profile{
            background-color: transparent;
            border: none;
            color: var.$font-color-light;
            font-size: 1.5rem;
        }

        &__cart-btn{
            background-color: transparent;
            border: none;
            padding: 0;
            font-size: 1.5rem;
        }

        &__header-btn{
            background-color: transparent;
            border: none;
            color: var.$font-color-light;
            padding: 0;
            font-size: 1.5rem;
        }
        
    }

    .cards-section{

        .categories{
            width: 50%;
            position: absolute;
            bottom: 100%;
            left: 0;
            background-color: var.$bg-color-lightest;
            padding-top: 7.2vw;
            align-items: center;

            @include mix.mediaScreen(439px, 639px){
                padding-top: (calc(7.2vw + 16px));
            }

            &__title{
                margin: 0 0 17px 0;
                padding: 0 7vw;
                font-size: 1.1rem;
                font-weight: 600;
            }

            .categories-list{
                padding: 0;
                margin: 0;
                list-style: none;
                font-size: 1.1rem;
                padding: 0 7vw;

                &__category{
                    margin-bottom: 3.27vw;

                    &:last-child{
                        margin-bottom: 6vw;
                }
                }

                &__link{
                    color: var.$font-color-categories;
                    text-decoration: none;
                    font-weight: 400;
                }
            }
        }

        .cart{
            width: 100%;
            position: absolute;
            bottom: 100%;
            left: 0;
            background-color: var.$bg-color-lightest;
            padding-top: 7vw;
            align-items: center;

            &__title{
                padding: 0 6vw;
                color: var.$font-color-page-title;
                font-size: 1.5rem;
                font-weight: 600;
                margin: 0 0 10px 0;

                &-amount{
                    font-size: 1rem;
                    font-weight: 600;
                    color: var.$font-color-dark;
                }
            }

            .cart-list{
                list-style: none;
                padding: 0 6vw;

                &__item{
                    margin-bottom: 15px;
                }
            }

            .cart-price{
                display: flex;
                justify-content: space-between;
                padding: 0 6vw;

                &__text{
                    font-size: 1rem;
                    font-weight: 400;
                }

                &__number{
                    color: var.$font-color-highlight;
                }
            }

            .cart-action{
                margin-bottom: 10vw;
                display: flex;
                justify-content: space-between;
                padding: 0 6vw;

                &__btn{
                    background-color: var.$action-btn-color;
                    color: var.$font-color-light;
                    border: none;
                    border-radius: 5px;
                    padding: 10px 20px;
                    box-shadow: 2px 2px 7px 0 var.$bg-color-light-gray;
                }
            }
        }
    }
}