@use "mixins" as mix;
@use "variables" as var;

.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var.$bg-color-dark;
    z-index: 2;
    @include mix.screenMd(){
        position: static;
        padding: 20px 0 18px 0;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    .navigation-section{
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
        font-weight: 100;
        @include mix.screenMd(){
            justify-content: space-between;
            margin: 0;
            order: 1;
        }
        
        .header{
            width: 50%;
            position: absolute;
            bottom: 100%;
            right: 0;
            flex-direction: column;
            align-items: center;
            padding-top: 13vw;
            background-color: black;
            @include mix.screenMd(){
                position: static;
                flex-direction: row;
                padding-top: 0;
                margin-left: 30px;
            }

            &--display-false{
                display: none;
                @include mix.screenMd(){
                    display: flex;
                }
            }
            &--display-true{
                display: flex;
            }

            &__link{
                color: var.$font-color-light;
                text-decoration: none;
                font-size: .875rem;
                margin-bottom: 50px;
                &:hover{
                    font-weight: 600;
                }
                @include mix.screenMd(){
                    margin-bottom: 0;
                    margin-right: 30px;
                }

                &:last-child{
                    margin-bottom: 20vw;
                    @include mix.screenMd(){
                        margin-bottom: 0;
                        margin-right: 0;
                    }
                }
            }

            &__shop{
                background-color: transparent;
                border: none;
                color: var.$font-color-light;
                padding: 0;
                font-size: .875rem;
                margin-bottom: 50px;
                font-weight: 100;
                &:hover{
                    font-weight: 600;
                }
                @include mix.screenMd(){
                    margin-bottom: 0;
                    margin-right: 30px;
                }
            }
        }

        .searchbar{
            @include mix.screenMd(){
                display: flex;
            }

            @include mix.screenLg(){
                margin-left: 7vw;
            }
            
            &__input{
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 100%;
                background-color: var.$bg-color-lighter-gray;
                border: none;
                padding: 12px 0 12px 17px;
                font-size: 1rem;
                box-sizing: border-box;
                @include mix.screenMd(){
                    position: static;
                    padding: 0 0 0 10px;
                    font-size: .875rem;
                    margin: 12px 0;
                    border-radius: 2px 0 0 2px;
                }

                &::placeholder{
                    color: var.$font-color-dark;
                }

                &:focus {
                    outline: none;
                }

                &--display-false{
                    display: none;
                    @include mix.screenMd(){
                        display: block;
                    }
                }

                &--display-true{
                    display: block;
                }

            }

            &__btn{
                background-color: transparent;
                border: none;
                padding: 0;
                font-size: 1.5rem;
                @include mix.screenMd(){
                    background-color: var.$bg-color-lighter-gray;
                    border-radius: 0 2px 2px 0;
                    margin: 12px 0;
                    padding: 3px 10px 0 10px;
                    position: relative;
                    right: 1px
                }

                &--color-true{
                    color: var.$font-color-highlight;
                    @include mix.screenMd(){
                        color: var.$font-color-dark;
                    }
                }
                
                &--color-false{
                    color: var.$font-color-light;
                    @include mix.screenMd(){
                        color: var.$font-color-dark;
                    }
                }
            }
        }

        &__profile{
          aspect-ratio: 1/1; 
          anchor-name: --profile-button;
          
          &__button {
            background-color: transparent;
            width: 100%;
            height: 100%;
            border: none;
            color: var.$font-color-light;
            font-size: 1.5rem;
            margin: auto 0;
            @include mix.screenMd(){
                font-size: 1.6rem;
            }
          }
          overflow: hidden;
          &__options {
            background-color: white;
            display: flex;
            flex-direction: column;
           
            width: 10rem;
            position: absolute;
            inset-block-start: anchor(end);
            inset-inline-start: anchor(self-end);
            position-anchor: --profile-button;
            margin: -20px 0 0 10px;
            &.hidden {
              display: none;
            }
            & a {
              text-decoration: none;
              colot: black;
              font-size: 1.15rem;
              font-weight: 600;
            }
          }
        
        }

        &__cart-btn{
            background-color: transparent;
            border: none;
            padding: 0;
            font-size: 1.5rem;

            @include mix.screenMd(){
                margin-right: 35px;
                font-size: 1.7rem;
            }

            &--color-true{
                color: var.$font-color-highlight;
            }
            
            &--color-false{
                color: var.$font-color-light;
            }
        }

        &__header-btn{
            background-color: transparent;
            border: none;
            color: var.$font-color-light;
            padding: 0;
            font-size: 1.7rem;
            @include mix.screenMd(){
                display: none;
            }
        }
        
    }

    .cards-section{
        @include mix.screenMd(){
            order: 2;
        }

        .categories{
            width: 50%;
            position: absolute;
            bottom: 100%;
            left: 0;
            background-color: var.$bg-color-light;
            padding-top: 11vw;
            align-items: center;
            z-index: 2;
            @include mix.mediaScreen(468px, 767px){
                padding-top: (calc(11vw + 27px));
            }
            @include mix.screenMd(){
                width: 360px;
                top: 100px;
                left: 115px;
                bottom: auto;
                padding-top: 30px;
            }

            &__title{
                margin: 0 0 17px 0;
                padding: 0 6vw;
                font-size: 1.2rem;
                font-weight: 700;
                @include mix.screenMd(){
                    padding: 0 30px;
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin: 0 0 20px 0;
                }
            }

            .categories-list{
                padding: 0;
                margin: 0;
                list-style: none;
                font-size: 1.1rem;
                padding: 0 7vw;
                @include mix.screenMd(){
                    padding: 0 30px;
                    font-size: 1.4rem;
                }

                &__category{
                    margin-bottom: 20px;
                    @include mix.screenMd(){
                        margin-bottom: 20px;
                    }

                    &:last-child{
                        margin-bottom: 21vw;
                        @include mix.screenMd(){
                            margin-bottom: 40px;
                        }
                }
                }

                &__link{
                    color: var.$font-color-categories;
                    text-decoration: none;
                    font-weight: 400;
                }
            }
        }

        .cart{
            width: 100%;
            position: absolute;
            bottom: 100%;
            left: 0;
            background-color: var.$bg-color-light;
            padding-top: 5vw;
            align-items: center;
            z-index: 2;
            @include mix.screenMd(){
                width: 340px;
                top: 85px;
                left: auto;
                right: 10px;
                bottom: auto;
                padding-top: 7px;
                border-radius: 3px;
            }

            &__arrow{
                display: none;
                @include mix.screenMd(){
                    display: block;
                    font-size: 1.3rem;
                    position: absolute;
                    right: 26px;
                    bottom: 232px;
                    color: var.$font-color-light;
                }
            }

            &__title{
                padding: 0 6vw;
                color: var.$font-color-page-title;
                font-size: 1.5rem;
                font-weight: 600;
                margin: 0 0 10px 0;
                @include mix.screenMd(){
                    padding: 0 13px;
                    font-size: 1.6rem;
                }

                &-amount{
                    font-size: 1rem;
                    font-weight: 600;
                    color: var.$font-color-dark;
                }
            }

            .cart-list{
                list-style: none;
                padding: 0 6vw;
                @include mix.screenMd(){
                    padding: 0 10px;
                }

                &__item{
                    margin-bottom: 15px;
                }
            }

            .cart-price{
                display: flex;
                justify-content: space-between;
                padding: 0 6vw;
                @include mix.screenMd(){
                    padding: 0 10px;
                }

                &__text{
                    font-size: 1rem;
                    font-weight: 400;
                }

                &__number{
                    color: var.$font-color-highlight;
                }
            }

            .cart-action{
                margin-bottom: 6vw;
                display: flex;
                justify-content: space-between;
                padding: 0 6vw;
                @include mix.screenMd(){
                    padding: 0 10px;
                    margin-bottom: 10px;
                }

                &__btn{
                    background-color: var.$action-btn-color;
                    color: var.$font-color-light;
                    border: none;
                    border-radius: 3px;
                    padding: 10px 25px;
                    box-shadow: 2px 2px 7px 0 var.$bg-color-light-gray;
                    @include mix.screenMd(){
                        padding: 10px 30px;
                        font-size: 1rem;
                        font-weight: 200;
                    }
                }
            }
        }
    }
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: var.$bg-color-dark;
    padding: 25px 2.5vw 0 2.5vw;
    color: var.$font-color-light;
    margin-bottom: 70px;
    @include mix.screenMd(){
        margin-bottom: 0;
    }

    .upperhalf{
        display: grid;
        grid-template-columns: auto auto;
        padding: 0 3vw;
        margin-bottom: 10px;
        border-bottom: 2px solid var.$bg-color-light-gray;
        @include mix.screenMd(){
            grid-template-columns: auto auto auto;
            padding-bottom: 30px;
        }

        .navigation{
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 1.1rem;
            font-weight: 100;

            &__item{
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }

            &__link{
                color: var.$font-color-light;
                text-decoration: none;
            }
        }

        .footer-info{
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 1.1rem;
            font-weight: 100;

            &__item{
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }

            &__link{
                color: var.$font-color-light;
                text-decoration: none;
            }
        }

        .footer-contact{
            grid-column: 1/3;
            margin-top: 10px;
            margin-bottom: 30px;
            @include mix.screenMd(){
                margin: 0;
                grid-column: auto;
            }

            &__title{
                margin: 0 0 15px 0;
                font-size: 1.1rem;
                font-weight: 100;
            }

            &__location{
                margin: 0 0 10px 0;
                font-size: .875rem;
                font-weight: 600;
            }

            &__number{
                margin: 0 0 20px 0;
                font-size: .875rem;
                font-weight: 600;
            }

            &__phone{
                font-size: 1.1rem;
                position: relative;
                top: 3px;
                margin-right: 15px;
            }

            .socials{
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                font-size: 1.7em;
                line-height: 0;

                &__item{
                    margin-right: 10px;

                    &:last-child{
                        margin-right: 0;
                    }
                }

                &__link{
                    color: var.$font-color-light;
                }
            }
        }
    }

    .lowerhalf{
        display: flex;
        flex-direction: column;
        padding: 0 3vw;

        .payments{
            display: flex;
            margin-bottom: 10px;

            &__card{
                margin: 0 15px 0 0;
                font-size: 2.5rem;
                line-height: 0;
                &:last-child{
                    margin-right: 0;
                }
            }
        }

        .extra-info{
            font-size: .6rem;
            margin-bottom: 15px;
            @include mix.screenMd(){
                display: flex;
                justify-content: space-between;
            }

            &__text{
                margin-top: 0;
                margin-bottom: 10px;
                @include mix.screenMd(){
                    margin-bottom: 0;
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}
