@font-face {
font-family: 'Museo Sans Rounded 500';
font-style: normal;
font-weight: normal;
src: local('Museo Sans Rounded 500'), url('/fonts/MuseoSansRounded500.woff') format('woff');
}


@font-face {
font-family: 'Museo Sans Rounded 100';
font-style: normal;
font-weight: normal;
src: local('Museo Sans Rounded 100'), url('/fonts/MuseoSansRounded100.woff') format('woff');
}


@font-face {
font-family: 'Museo Sans Rounded 300';
font-style: normal;
font-weight: normal;
src: local('Museo Sans Rounded 300'), url('/fonts/MuseoSansRounded300.woff') format('woff');
}


@font-face {
font-family: 'Museo Sans Rounded 700';
font-style: normal;
font-weight: normal;
src: local('Museo Sans Rounded 700'), url('/fonts/MuseoSansRounded700.woff') format('woff');
}


@font-face {
font-family: 'Museo Sans Rounded 900';
font-style: normal;
font-weight: normal;
src: local('Museo Sans Rounded 900'), url('/fonts/MuseoSansRounded900.woff') format('woff');
}


@font-face {
font-family: 'Museo Sans Rounded 1000';
font-style: normal;
font-weight: normal;
src: local('Museo Sans Rounded 1000'), url('/fonts/MuseoSansRounded1000.woff') format('woff');
}