@use "variables" as var;
@use "mixins" as mix;

.main{
    display: flex;
    flex-direction: column;

    &__title{
        margin: 20px 3vw 35px 3vw;
        color: var.$font-color-page-title;
    }

    &__banner{
        width: 100%;
        margin-bottom: 20px;
    }
}

.faq{
    padding: 10px 15px 0 15px;
    margin: 0 3vw 10px 3vw;
    background-color: var.$bg-color-light;
    box-shadow: 0 5px 5px 1px var.$bg-color-lighter-gray;
    @include mix.screenMd(){
        padding: 25px 35px 0 35px;
    }

    .info-section{
        text-wrap: balance;
        &__begining-title{
            margin: 0 0 25px 0;
            font-weight: 500;
            font-size: 1.3rem;
        }

        &__title{
            margin-bottom: 0;
            scroll-margin-top: 20px;
        }

        &__text{
            margin-top: 0;
            font-size: .875rem;

            &:last-child{
                margin-bottom: 10px;

                @include mix.screenMd(){
                    margin-bottom: 20px;
                }
            }
        }

    }
}

.about{
    padding: 10px 15px 0 15px;
    margin: 0 3vw 10px 3vw;
    background-color: var.$bg-color-light;
    box-shadow: 0 5px 5px 1px var.$bg-color-lighter-gray;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    @include mix.screenLg(){
        padding: 25px 35px 0 35px;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }

    &__picture{
        width: 100%;
        margin-bottom: 15px;
        @include mix.screenLg(){
            align-self: center;
        }

        &--order1{
            order: 1;
        }

        &--order3{
            order: 3;
            @include mix.screenLg(){
                order: 4;
            }
        }

        &--order5{
            order: 5;
        }

        &--order7{
            order: 7;
            @include mix.screenLg(){
                order: 8;
            }
        }
    }

    .info{
        @include mix.screenLg(){
            padding: 0 10px 30px 10px;
        }

        &--order2{
            order: 2;
        }

        &--order4{
            order: 4;
            @include mix.screenLg(){
                order: 3;
            }
        }

        &--order6{
            order: 6;
        }

        &--order8{
            order: 8;
            @include mix.screenLg(){
                order: 7;
            }
        }

        &__title{
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 1.3rem;
            @include mix.screenLg(){
                margin-top: 20px;
            }
        }

        &__text{
            font-size: .875rem;
            margin-top: 0;
            margin-bottom: 15px;
            text-wrap: balance;
            @include mix.screenLg(){
                text-wrap: wrap;
                font-size: .85rem;
            }

            &:last-child{
                margin-bottom: 40px;
                @include mix.screenLg(){
                    margin-bottom: 15px;
                }
            }

            &--highlight{
                color: var.$font-color-highlight;
                font-weight: 700;
            }
        }

        &__bold-text{
            font-weight: 700;
        }
    }
}

.popular{
    display: grid;
    grid-template-columns: auto;
    @include mix.mediaScreenMin(425px){
        grid-template-columns: 50% 50%;
        justify-content: space-between;
    }

    &__title{
        font-size: 1.1rem;
        color: var.$font-color-page-title;
        margin-top: 0;
        margin-bottom: 10px;
        padding: 0 20px;
        align-self: center;
        @include mix.mediaScreenMin(425px){
            margin-bottom: 0;
        }
    }

    &__see-more{
        background-color: var.$action-btn-color;
        box-shadow: 2px 2px 7px 0 var.$bg-color-light-gray;
        border: none;
        color: var.$font-color-light;
        border-radius: 3px;
        padding: 8px 0;
        margin: 0 20px;
        @include mix.mediaScreenMin(425px){
            width: 150px;
            justify-self: end;
            margin-bottom: 0;
            margin-left: 0;
        }
    }

    .popular-products{
        display: flex;
        padding: 0;
        list-style: none;
        margin: 0 0 10px 0;
        overflow: auto;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 20px;
        @include mix.mediaScreenMin(425px){
            grid-column: 1/3;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .product{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-right: 15px;
            background-color: var.$bg-color-light;
            box-shadow: 2px 3px 7px 0 var.$bg-color-light-gray;
            padding: 15px 15px 0 15px;
            border-radius: 3px;
            scroll-snap-stop: always;
            scroll-snap-align: center;

            &:last-child{
                margin-right: 0;
            }

            &__image{
                width: 100%;
                margin-bottom: 20px;
            }

            &__name{
                font-size: 0.875rem;
                margin-top: 0;
                margin-bottom: 5px;
            }

            &__type{
                font-size: 0.875rem;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 30px;
            }

            &__price{
                margin-top: 0;
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 10px;
            }

            &__read-more{
                background-color: var.$action-btn-color;
                box-shadow: 2px 2px 7px 0 var.$bg-color-light-gray;
                border: none;
                color: var.$font-color-light;
                border-radius: 3px;
                padding: 5px 0;
                margin-bottom: 15px;
            }
        }
    }

}

.home-info{
    color: var.$font-color-light;
    background-color: var.$bg-color-dark;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;

    .what-we-do, .opening{
        &__title{
            margin-top: 0;
            margin-bottom: 15px;
        }

        &__location{
            font-size: 0.875rem;
            margin: 0;
        }

        &__text{
            font-size: 0.875rem;
            font-weight: 300;
            margin-top: 0;
            margin-bottom: 15px;
        }
    }
}

.newsletter{
    padding: 20px;

    &-info{
        background-color: var.$bg-color-light;
        text-align: center;
        padding: 20px;

        &__title{
            margin: 0;
            font-weight: 600;
            font-size: 1.4rem;
        }

        &__subtitle{
            font-size: 0.85rem;
            margin-top: 0;
            margin-bottom: 10px;
        }

        .newsletter-sign-up{
            display: flex;
            flex-direction: column;
            @include mix.mediaScreenMin(460px){
                flex-direction: row;
                justify-content: center;
            }

            &__input{
                margin-bottom: 10px;
                font-size: 1rem;
                box-shadow: 2px 2px 5px 0 var.$bg-color-light-gray;
                border: none;
                background-color: var.$bg-color-lighter-gray;
                box-sizing: border-box;
                padding: 5px;
                @include mix.mediaScreenMin(460px){
                    font-size: 1.1rem;
                    margin-bottom: 0;
                    padding: 8px 5px;
                    margin-right: 25px;
                    width: 60%;
                }

                @include mix.screenMd(){
                    width: 400px;
                }

                &:focus {
                    outline: none;
                }
            }

            &__submit-btn{
                background-color: var.$action-btn-color;
                box-shadow: 2px 2px 7px 0 var.$bg-color-light-gray;
                border: none;
                color: var.$font-color-light;
                border-radius: 3px;
                padding: 5px 40px;
            }
        }
    }
}