@use "variables" as var;
@use "mixins" as mix;

.main{
    display: flex;
    flex-direction: column;

    &__title{
        margin: 20px 3vw 35px 3vw;
        color: var.$font-color-page-title;
        font-weight: 600;
    }

    &__banner{
        width: 100%;
        margin-bottom: 20px;
    }
}

.faq{
    padding: 10px 15px 0 15px;
    margin: 0 3vw 10px 3vw;
    background-color: var.$bg-color-light;
    box-shadow: 0 5px 5px 1px var.$bg-color-lighter-gray;
    @include mix.screenMd(){
        padding: 25px 35px 0 35px;
    }

    .info-section{
        text-wrap: balance;
        &__begining-title{
            margin: 0 0 25px 0;
            font-weight: 500;
            font-size: 1.3rem;
        }

        &__title{
            margin-bottom: 0;
            scroll-margin-top: 20px;
        }

        &__text{
            margin-top: 0;
            font-size: .875rem;

            &:last-child{
                margin-bottom: 10px;

                @include mix.screenMd(){
                    margin-bottom: 20px;
                }
            }
        }

    }
}

.about{
    padding: 10px 15px 0 15px;
    margin: 0 3vw 10px 3vw;
    background-color: var.$bg-color-light;
    box-shadow: 0 5px 5px 1px var.$bg-color-lighter-gray;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    @include mix.screenLg(){
        padding: 25px 35px 0 35px;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }

    &__picture{
        width: 100%;
        margin-bottom: 15px;
        @include mix.screenLg(){
            align-self: center;
        }

        &--order1{
            order: 1;
        }

        &--order3{
            order: 3;
            @include mix.screenLg(){
                order: 4;
            }
        }

        &--order5{
            order: 5;
        }

        &--order7{
            order: 7;
            @include mix.screenLg(){
                order: 8;
            }
        }
    }

    .info{
        @include mix.screenLg(){
            padding: 0 10px 30px 10px;
        }

        &--order2{
            order: 2;
        }

        &--order4{
            order: 4;
            @include mix.screenLg(){
                order: 3;
            }
        }

        &--order6{
            order: 6;
        }

        &--order8{
            order: 8;
            @include mix.screenLg(){
                order: 7;
            }
        }

        &__title{
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 1.3rem;
            @include mix.screenLg(){
                margin-top: 20px;
            }
        }

        &__text{
            font-size: .875rem;
            margin-top: 0;
            margin-bottom: 15px;
            text-wrap: balance;
            @include mix.screenLg(){
                text-wrap: wrap;
                font-size: .85rem;
            }

            &:last-child{
                margin-bottom: 40px;
                @include mix.screenLg(){
                    margin-bottom: 15px;
                }
            }

            &--highlight{
                color: var.$font-color-highlight;
                font-weight: 700;
            }
        }

        &__bold-text{
            font-weight: 700;
        }
    }
}

.popular{
    display: grid;
    grid-template-columns: auto;
    @include mix.mediaScreenMin(425px){
        grid-template-columns: 60% 40%;
    }

    &__title{
        font-size: 1.2rem;
        color: var.$font-color-page-title;
        margin-top: 0;
        margin-bottom: 10px;
        padding: 0 20px;
        align-self: center;
        @include mix.mediaScreenMin(425px){
            margin-bottom: 0;
        }
        @include mix.screenMd(){
            padding: 0 3vw;
        }
    }

    &__see-more{
        background-color: var.$action-btn-color;
        box-shadow: 2px 2px 7px 0 var.$bg-color-light-gray;
        border: none;
        color: var.$font-color-light;
        border-radius: 3px;
        padding: 8px 0;
        margin: 0 20px;
        @include mix.mediaScreenMin(425px){
            width: 150px;
            justify-self: end;
            margin-bottom: 0;
            margin-left: 0;
        }

        @include mix.screenMd(){
            margin-right: 3vw;
        }
    }

    .popular-products{
        display: flex;
        list-style: none;
        margin: 0 0 10px 0;
        overflow: auto;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 20px;
        @include mix.mediaScreenMin(425px){
            grid-column: 1/3;
        }
        @include mix.mediaScreenMin(1000px){
            justify-content: space-evenly;
        }
        @include mix.screenMd(){
            padding: 20px 3vw 50px 3vw;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .popular-product{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-right: 15px;
            background-color: var.$bg-color-light;
            box-shadow: 2px 3px 7px 0 var.$bg-color-light-gray;
            padding: 15px 15px 0 15px;
            border-radius: 3px;
            scroll-snap-stop: always;
            scroll-snap-align: center;

            &:last-child{
                margin-right: 0;
            }

            &__image{
                width: 200px;
                aspect-ratio: 1/.5;
                margin-bottom: 20px;
            }

            &__name{
                font-size: 0.875rem;
                margin-top: 0;
                margin-bottom: 5px;
            }

            &__type{
                font-size: 0.875rem;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 30px;
            }

            &__price{
                margin-top: 0;
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 10px;
            }

            &__read-more{
                background-color: var.$action-btn-color;
                box-shadow: 2px 2px 7px 0 var.$bg-color-light-gray;
                border: none;
                color: var.$font-color-light;
                border-radius: 3px;
                padding: 5px 0;
                margin-bottom: 15px;
            }
        }
    }

}

.home-info{
    color: var.$font-color-light;
    background-color: var.$bg-color-dark;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    @include mix.screenMd(){
        grid-template-columns: 45% 34%;
        justify-content: space-between;
        padding: 100px 70px 50px 40px;
    }

    .what-we-do, .opening{
        &__title{
            margin-top: 0;
            margin-bottom: 15px;
        }

        &__location{
            font-size: 0.875rem;
            margin: 0;
        }

        &__text{
            font-size: 0.875rem;
            font-weight: 300;
            margin-top: 0;
            margin-bottom: 15px;
        }
    }
}

.newsletter{
    padding: 20px;

    &-info{
        background-color: var.$bg-color-light;
        text-align: center;
        padding: 20px;
        box-shadow: 2px 2px 5px 0 var.$bg-color-light-gray;

        &__title{
            margin: 0;
            font-weight: 600;
            font-size: 1.4rem;
        }

        &__subtitle{
            font-size: 0.85rem;
            margin-top: 0;
            margin-bottom: 10px;
        }

        .newsletter-sign-up{
            display: flex;
            flex-direction: column;
            @include mix.mediaScreenMin(460px){
                flex-direction: row;
                justify-content: center;
            }

            &__input{
                margin-bottom: 10px;
                font-size: 1rem;
                box-shadow: 2px 2px 5px 0 var.$bg-color-light-gray;
                border: none;
                background-color: var.$bg-color-lighter-gray;
                box-sizing: border-box;
                padding: 5px;
                @include mix.mediaScreenMin(460px){
                    font-size: 1.1rem;
                    margin-bottom: 0;
                    padding: 8px 5px;
                    margin-right: 25px;
                    width: 60%;
                }

                @include mix.screenMd(){
                    width: 400px;
                }

                &:focus {
                    outline: none;
                }
            }

            &__submit-btn{
                background-color: var.$action-btn-color;
                box-shadow: 2px 2px 7px 0 var.$bg-color-light-gray;
                border: none;
                color: var.$font-color-light;
                border-radius: 3px;
                padding: 5px 40px;
            }
        }
    }
}

.contact{
    padding: 0 3vw;
    margin-bottom: 25px;

    &-form{
        background-color: var.$bg-color-light;
        padding: 3vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        box-shadow: 2px 2px 5px 0 var.$bg-color-light-gray;

        &__title{
            font-weight: 600;
            margin-bottom: 5px;

            &--highlight{
                color: var.$font-color-highlight;
            }
        }

        &__input, &__textarea{
                font-size: 1rem;
                box-shadow: 2px 2px 5px 0 var.$bg-color-light-gray;
                border: none;
                border-radius: 3px;
                background-color: var.$bg-color-lighter-gray;
                box-sizing: border-box;
                padding: 5px;
                resize: none;

                &:focus {
                    outline: none;
                }
        }

        &__input{
            margin-bottom: 10px;
            @include mix.screenMd(){
                width: 75%;
            }
        }

        &__textarea{
            height: 100px;
            margin-bottom: 40px;
        }

        &__submit-btn{
                background-color: var.$action-btn-color;
                box-shadow: 2px 2px 7px 0 var.$bg-color-light-gray;
                border: none;
                color: var.$font-color-light;
                border-radius: 3px;
                padding: 10px 30px;
                align-self: end;
        }
    }

    &__extra-info{
        font-weight: 600;
        margin: 0 2vw;
        text-align: center;
        text-wrap: pretty;

        &--highlight{
            color: var.$font-color-highlight;
        }
    }
}

.products{
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 20px;
    @include mix.screenMd(){
        grid-template-columns: 25% auto;
        margin-bottom: 60px;
    }

    &-filter{
        display: flex;
        flex-direction: column;
        padding: 0 3vw;
        margin-bottom: 20px;
        @include mix.screenMd(){
            padding: 0 25px;
            margin-bottom: 0;
        }

        &__title{
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 1.2rem;
            font-weight: 500;
        }

        &__hide-btn{
            background-color: var.$bg-color-lighter-gray;
            border: none;
            text-align: start;
            font-size: 1rem;
            display: flex;
            padding: 7px 10px;
            font-weight: 500;
            box-shadow: 0 5px 4px -2px #00000015;
            position: relative;
            margin-top: 10px;

            &--icon{
               margin-left: auto;
               font-size: 1.5rem;
               line-height: 0;
            }
        }

        .filters{
            background-color: var.$bg-color-lighter-gray;
            flex-direction: column;
            padding: 20px 10px 15px 10px;

            &__label{
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
            }

            &__checkbox{
                border: none;
                border-radius: 50%;
                line-height: 0;
                font-size: .875rem;
                padding: 3px;
                background-color: var.$bg-color-light;
            }
        }
    }

    &-list{
        display: grid;
        grid-template-columns: auto;
        list-style: none;
        padding: 0 4vw;
        margin: 0;
        gap: 20px;
        @include mix.mediaScreenMin(600px){
            grid-template-columns: auto auto;
        }
        @include mix.mediaScreenMin(768px){
            padding: 0 25px 0 0;
        }
        @include mix.mediaScreenMin(1100px){
            padding: 0 25px 0 0;
            grid-template-columns: auto auto auto;
        }
        @include mix.screenXxl(){
            padding: 0 25px 0 0;
            grid-template-columns: auto auto auto auto;
        }

        .list-product{
            display: flex;
            flex-direction: column;
            background-color: var.$bg-color-light;
            padding: 15px;

            &__compare-btn{
                display: flex;
                background-color: transparent;
                border: none;
                align-self: end;
                padding: 0;
                font-weight: 500;
                font-size: .85rem;
                margin-bottom: 10px;

                &--icon{
                    font-size: 1.4rem;
                    margin-left: 5px;
                }
            }

            .product-info{
                color: var.$font-color-dark;
                text-decoration: none;
                margin-bottom: 25px;
                
                &__picture{
                    width: 100%;
                    margin-bottom: 15px;
                }

                &__title, &__type{
                    font-weight: 400;
                    font-size: 1rem;
                    text-align: center;
                    margin-top: 0;
                }

                &__title{
                    margin-bottom: 10px;
                }

                &__type{
                    margin-bottom: 20px;
                }

                &__price{
                    font-weight: 600;
                    font-size: 1.1rem;
                    text-align: center;
                    margin-top: 0;
                    margin-bottom: 0;                    
                }
            }

            .product-action{
                display: flex;
                justify-content: space-between;

                &__cart-btn{
                    background-color: var.$action-btn-color;
                    box-shadow: 2px 2px 7px 0 var.$bg-color-light-gray;
                    border: none;
                    color: var.$font-color-light;
                    border-radius: 3px;
                    padding: 10px 35px;
                    font-weight: 300;
                    font-size: 1rem;
                    @include mix.screenMd(){
                        padding: 10px 25px;
                    }
                }

                &__stock{
                    margin: 0;
                    display: flex;
                    align-items: center;
                    font-size: 0.875rem;

                    &--indicator{
                        border-radius: 50%;
                        width: 15px;
                        height: 15px;
                        background-color: #008107;
                        align-self: center;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}