@mixin mediaScreen($min, $max){
    @media screen and (min-width: $min) and ( max-width: $max ){
        @content
    };
};

@mixin mediaScreenMin($min){
    @media screen and (min-width: $min){
        @content
    };
};
    
@mixin screenSm(){
    @media (width >= 40rem) {
        @content
    };
};

@mixin screenMd(){
    @media (width >= 48rem) {
        @content
    };
};

@mixin screenLg(){
    @media (width >= 64rem) {
        @content
    };
};

@mixin screenXl(){
    @media (width >= 80rem) {
        @content
    };
};

@mixin screenXxl(){
    @media (width >= 96rem) {
        @content
    };
};