@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$bg-color-darkest: #000000;

$bg-color-lightest: #ffffff;

$bg-color-lightest-gray: #F4F4F2;

$bg-color-lighter-gray: #E8E8E8;

$bg-color-light-gray: #BBBFCA;

$bg-color-dark-gray: #495464;

$action-btn-color: #FF6900;

$font-color-dark: #000000;

$font-color-light: #ffffff;

$font-color-page-title: #495464;

$font-color-categories: #A39161;

$font-color-highlight: #FF6900;

$main-font: "Open Sans", Arial;